$color-background: #FFFFFF !default;
$color-main: #6874F3 !default;
$color-box: #F6F6F6 !default;
// $color-text: #21272D !default;
$color-text: #575756 !default;

$color-text-negative: #FFFFFF !default;

$color-gray01: #6A7276 !default;
$color-gray02: #999 !default;
$color-gray03: #ccc !default;
$color-gray04: #ddd !default;
$color-gray05: #fff !default;
$color-dark-emphasis: #525252 !default;

$selectionColor: #FDFFB6;