
<div class = "out">
    <div class = "in">
        <ul>
            <li><a href="http://awwapps.com" target="_blank">Apps</a></li>
            <li><a href="https://twitter.com/awwapps" target="_blank">Twitter</a></li>
            <li><a href="mailto:mailto:hello@awwapps.com?body=Hi Aww Apps Team%0D%0A%0D%0AI really love all your apps and wait eagerly for the upcoming updates. I have this one feature request but I am pretty sure that already read my mind, so nevermind.%0D%0A%0D%0AKeep on the great work.%0D%0A%0D%0AYours truly">Email</a></li>
            <li><a href="http://awwapps.com/impressum.html" target="_blank">Legal</a></li>
            <li><a href="{{ site.subscribe_rss }}" target="_blank">RSS</a></li>
        </ul>
        <a href="index.html">
            <img src="/images/awwBarLogo.svg" alt = "logo">
        </a>
        <p class = "small">© 2016 Made in Berlin</p>
    </div>
</div>