    <div class="out">
        <!-- Navigation -->
        <ul>
            <li><a href="http://awwapps.com/">Apps</a></li>
            <li><a class="active" href="http://blog.awwapps.com" target="_blank">Blog</a></li>
            <li><a href="http://awwapps.com/#about">About</a></li>
            <li><a href="http://awwapps.com/#contact">Contact</a></li>
        </ul>

        <div class="in">
        	<a href="{{ root_url }}/" class="nohover">
            <img src="/images/awwBarLogo.svg" width="100" />
        	</a>
        </div>
    </div>